* {
  box-sizing: border-box;
}

.header {
  margin-top: 34px;
  margin-bottom: 15px;
}

.container {
  max-width: 1194px;
  margin: 0 auto;
  padding-right: 24px;
  padding-left: 24px;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-box h1 {
  color: rgb(0, 0, 0);
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.header-box p {
  color: rgb(0, 0, 0);
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
}

.header-controls a {
  color: rgb(0, 0, 0);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.header-controls a:hover {
  color: rgb(255, 73, 73);
}

.header-controls--mobile {
  width: 30px;
  height: 30px;
  display: none;
  align-self: flex-start;
}

.search {
  margin-bottom: 39px;
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(255, 73, 73);
  padding: 3px;
  gap: 3px;
  height: 50px;
}
.search-box input {
  flex-grow: 1;
  height: 100%;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 0 30px;
  min-width: 0;
}
.search-box button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 100%;
  background-color: rgb(255, 73, 73);
  color: rgb(255, 255, 255);
  border: none;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  cursor: pointer;
  flex-shrink: 0;
}

.content {
  margin-bottom: 94px;
}

.content-box {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.content-main {
  flex-grow: 1;
}
.content-main__title {
  color: rgb(0, 0, 0);
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin-bottom: 25px;
}

.content-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.content-cards__item {
  width: calc((100% - 60px) / 3);
}
.content-cards__item--img {
  width: 100%;
  margin-bottom: 12px;
}
.content-cards__item--img img {
  width: 100%;
}
.content-cards__item--title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  color: rgb(0, 0, 0);
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 4px;
}
.content-cards__item--title h5 {
  font-weight: 700;
  font-size: 16px;
}
.content-cards__item--title span {
  font-size: 16px;
}
.content-cards__item--description {
  color: rgb(134, 134, 134);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 11px;
}
.content-cards__item--rating {
  color: rgb(4, 163, 30);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.content-sidebar {
  width: 262px;
  min-width: 262px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-sidebar__info {
  margin-bottom: 120px;
}
.content-sidebar__info__title {
  color: rgb(0, 0, 0);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 28px;
}
.content-sidebar__info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content-sidebar__info__item {
  color: rgb(0, 0, 0);
  font-family: Inter, sans-serif;
  line-height: 17px;
  display: flex;
  flex-direction: column;
}
.content-sidebar__info__item h5 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}
.content-sidebar__info__item p {
  font-size: 14px;
  font-weight: 400;
}
.content-sidebar__footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.content-sidebar__footer p {
  color: rgb(170, 170, 170);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.content-sidebar__footer a {
  color: rgb(170, 170, 170);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration-line: underline;
}
.content-sidebar__footer a:hover {
  color: rgb(255, 72, 72);
}

.content-film {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  gap: 28px;
}
.content-film__img, .content-film__info {
  width: calc(50% - 14px);
}
.content-film__img img {
  width: 100%;
}
.content-film__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.content-film__info__title {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  margin-bottom: 3px;
}
.content-film__info__title h1, .content-film__info__title p {
  color: rgb(0, 0, 0);
  font-family: Inter, sans-serif;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.content-film__info__title h1 {
  font-weight: 700;
}
.content-film__info__title p {
  font-weight: 400;
}
.content-film__info__genre {
  color: rgb(134, 134, 134);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 3px;
}
.content-film__info__rating {
  color: rgb(4, 163, 30);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 29px;
}
.content-film__info__text p {
  color: rgb(0, 0, 0);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.content-film__info__text p, .content-film__info__text p {
  margin-top: 10px;
}
.content-film__info__controls button {
  color: rgb(255, 255, 255);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: rgb(255, 73, 73);
  width: 100%;
  max-width: 264px;
  height: 50px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .content-cards__item {
    width: calc((100% - 30px) / 2);
  }
  .content-film {
    width: 100%;
    flex-direction: column;
    gap: 28px;
  }
  .content-film__img, .content-film__description {
    width: 100%;
  }
  .content-film__img {
    display: flex;
    justify-content: center;
  }
  .content-film__img img {
    width: 100%;
    max-width: 450px;
  }
  .content-film__info {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header-controls {
    display: none;
  }
  .header-controls--mobile {
    display: block;
  }
  .search-box input {
    padding: 0 15px;
  }
  .content-box {
    flex-direction: column;
    /* gap: 39px; */
  }
  .content-sidebar {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .content-cards {
    /* gap: 30px; */
  }
  .content-cards__item {
    width: calc((100% - 0px) / 1);
  }
}/*# sourceMappingURL=style.css.map */